# compilation files
*.o

# scripts
*.sh

# logfiles
*.txt
*.log

# executables

# cpp00
megaphone
phonebook
bank

# cpp01
brainz
moarbrainz
hithisisbrain
unnecessaryviolence
sedisforlosers
harl2.0
harlfilter