# MAC Files
.DS_Store

# compilation files
*.o

# scripts
*.sh

# logfiles
*.txt
*.log

# testing purposes
MLX42

# executables

# cpp00
megaphone
phonebook
bank

# cpp01
brainz
moarbrainz
hithisisbrain
unnecessaryviolence
sedisforlosers
harl2.0
harlfilter

# cpp02
myfirstclassinorthodoxcanonicalform
towardsamoreusefulfixed-pointnumberclass
noweretalking
bsp

# cpp03
aaaaand...open
serenamylove
repetitivework
nowitsweird

# cpp04
polymorphism
idontwanttosettheworldonfire
abstractclass
interfaceandrecap
